####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

- name: <value>
  ipv6: <value>
  ipv6_gw: <value>
  search_domains: "<string value>"
